input[type="radio"],
input[type="checkbox"] {
  display: none;
}

* {
  font-family: system-ui;
  box-sizing : border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url(https://i.loli.net/2020/08/26/zhkIsNyTfZdab3p.jpg);
  background-size : cover;
}

nav label {
  transition : 0.2s;
  display    : block;
  padding    : 0.5rem 8rem 0.5rem 1.75rem;
  border-left: 7px solid transparent;
  margin     : 1rem 0;
}

nav label:hover {
  cursor          : pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

#window {
  background-color       : rgba(37, 29, 47, 0.75);
  backdrop-filter        : blur(7px);
  -webkit-backdrop-filter: blur(7px);
  color                  : white;
  position               : relative;
  height                 : 95vh;
  width                  : 95vw;
  left                   : 50%;
  top                    : 50%;
  transform              : translate3d(-50%, -50%, 0);
  overflow               : hidden;
  transition             : 0.4s;
}

#window>* {
  display         : flex;
  transition      : 0.2s;
  position        : absolute;
  top             : 0;
  left            : 0;
  transition-delay: 0.2s;
  width           : 100%;
  height          : 100%;
}

#window .nav-cont {
  height: 100%;
}

#window .nav-cont .nav-contents {
  display       : flex;
  flex-direction: column;
  height        : 100%;
}

#window .nav-cont .nav-contents nav {
  overflow: auto;
}

.profile-img {
  background-color: #0b67fb;
  padding-bottom  : 7rem;
  width           : 7rem;
  border-radius   : 50%;
  position        : relative;
  margin          : 1rem 1rem 1rem -3.5rem;
  display         : block;
  left            : 50%;
}

.profile-img:not(#example-img) {
  background-image: url(https://i.loli.net/2020/08/26/NcziUAwL2BHr7sD.jpg);
  background-size : cover;
}

#content {
  position        : relative;
  flex-grow       : 2;
  background-color: rgba(19, 18, 40, 0.7);
}

#content>div {
  transition    : 0.3s;
  position      : absolute;
  top           : 0;
  left          : 100%;
  opacity       : 0;
  overflow-y    : auto;
  height        : 100%;
  padding-bottom: 2rem;
}

#nav-about:checked~#window label[for="nav-about"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-about:checked~#window #content #content-about {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

#nav-work:checked~#window label[for="nav-work"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-work:checked~#window #content #content-work {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

#nav-labs:checked~#window label[for="nav-labs"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-labs:checked~#window #content #content-labs {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

#nav-contact:checked~#window label[for="nav-contact"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-contact:checked~#window #content #content-contact {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

#nav-chall:checked~#window label[for="nav-chall"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-chall:checked~#window #content #content-chall {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

#nav-login:checked~#window label[for="nav-login"] {
  border-left: 7px solid #0b67fb;
  color      : #0b67fb;
}

#nav-login:checked~#window #content #content-login {
  left            : 0;
  opacity         : 1;
  transition-delay: 0.3s;
}

h3 {
  margin-top: 1rem;
}

#content {
  padding: 1rem;
}

#content>* {
  margin-left : 3%;
  margin-right: 3%;
}

#content-about,
#content-work,
#content-labs,
#content-contact,
#content-chall,
#content-login {
  width: 94%;
}

#content-about #my-name {
  margin: 0;
}

#content-about #my-name:after {
  content    : '.';
  color      : #0b67fb;
  font-size  : 5rem;
  line-height: 0;
}

#content-about #job-title {
  color : #0b67fb;
  margin: 1rem 0;
}

#content-work,
#content-labs {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  overflow      : hidden;
}

#work-grid>div {
  padding-top: 50%;
  overflow   : hidden;
  opacity    : 0;
}

#work-grid>div.fade-up {
  padding-top: 0;
  opacity    : 1;
}

#work-grid>div .img-cont {
  width          : 100%;
  padding-bottom : 8rem;
  background-size: cover;
}

#work-grid>div p {
  margin-bottom: 0;
}

#work-grid>div p:last-child {
  margin-bottom: 0.75rem;
}

#work-grid>div:nth-child(1).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.2s;
}

#work-grid>div:nth-child(1) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-25.jpg);
}

#work-grid>div:nth-child(2).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.3s;
}

#work-grid>div:nth-child(2) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/234/739/fa5.jpg);
}

#work-grid>div:nth-child(3).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.4s;
}

#work-grid>div:nth-child(3) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-8.jpg);
}

#work-grid>div:nth-child(4).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.5s;
}

#work-grid>div:nth-child(4) .img-cont {
  background-image: url(https://img.memecdn.com/this-just-in-i-don-amp-039-t-know-what-i-amp-039-m-doing_o_6176573.jpg);
}

#work-grid>div:nth-child(5).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.6s;
}

#work-grid>div:nth-child(5) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-20.jpg);
}

#work-grid>div:nth-child(6).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.7s;
}

#work-grid>div:nth-child(6) .img-cont {
  background-image: url(https://img.memecdn.com/this-just-in-i-don-amp-039-t-know-what-i-amp-039-m-doing_o_6176573.jpg);
}

#work-grid>div:nth-child(7).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.8s;
}

#work-grid>div:nth-child(7) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-20.jpg);
}

#work-grid>div:nth-child(8).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.9s;
}

#work-grid>div:nth-child(8) .img-cont {
  background-image: url(https://img.memecdn.com/this-just-in-i-don-amp-039-t-know-what-i-amp-039-m-doing_o_6176573.jpg);
}

#work-grid>div:nth-child(9).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1s;
}

#work-grid>div:nth-child(9) .img-cont {
  background-image: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/cm/15/11/54ffe5266025c-dog1.jpg?crop=1xw:1.0xh;center,top&resize=480:*);
}

#work-grid>div:nth-child(10).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.1s;
}

#work-grid>div:nth-child(10) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/234/739/fa5.jpg);
}

#work-grid>div:nth-child(11).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.2s;
}

#work-grid>div:nth-child(11) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/234/739/fa5.jpg);
}

#work-grid>div:nth-child(12).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.3s;
}

#work-grid>div:nth-child(12) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/facebook/000/665/819/b7b.jpg);
}

#work-grid>div:nth-child(13).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.4s;
}

#work-grid>div:nth-child(13) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-20.jpg);
}

#work-grid>div:nth-child(14).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.5s;
}

#work-grid>div:nth-child(14) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/234/739/fa5.jpg);
}

#work-grid>div:nth-child(15).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.6s;
}

#work-grid>div:nth-child(15) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-25.jpg);
}

#work-grid>div:nth-child(16).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.7s;
}

#work-grid>div:nth-child(16) .img-cont {
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/234/739/fa5.jpg);
}

#work-grid>div:nth-child(17).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.8s;
}

#work-grid>div:nth-child(17) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-20.jpg);
}

#work-grid>div:nth-child(18).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 1.9s;
}

#work-grid>div:nth-child(18) .img-cont {
  background-image: url(http://www.dumpaday.com/wp-content/uploads/2013/05/i-have-no-idea-what-Im-doing-meme-25.jpg);
}

#labs-grid .details {
  background-color: rgba(19, 18, 40, 0.4);
  padding         : 1rem;
}

#labs-grid>div {
  padding-top: 50%;
  overflow   : hidden;
  opacity    : 0;
}

#labs-grid>div.fade-up {
  padding-top: 0;
  opacity    : 1;
}

#labs-grid>div .img-cont {
  width          : 100%;
  padding-bottom : 14rem;
  background-size: cover;
}

#labs-grid>div:nth-child(1).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.2s;
}

#labs-grid>div:nth-child(1) .img-cont {
  background-image: url(https://www.wootec.top/img/avatar.png);
}

#labs-grid>div:nth-child(2).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.3s;
}

#labs-grid>div:nth-child(2) .img-cont {
  background-image: url(https://www.wootec.top/img/links/eqqie.jpg);
}

#labs-grid>div:nth-child(3).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.4s;
}

#labs-grid>div:nth-child(3) .img-cont {
  background-image: url(https://blackw4tch.github.io/image/avatar.jpeg);
}

#labs-grid>div:nth-child(4).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.5s;
}

#labs-grid>div:nth-child(4) .img-cont {
  background-image: url(https://www.splendidbeast.com/wp-content/uploads/2017/10/Dino-Dog-Painting-Splendid-Beast.jpg);
}

#labs-grid>div:nth-child(5).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.6s;
}

#labs-grid>div:nth-child(5) .img-cont {
  background-image: url(https://www.artbrokerage.com/art/rodrigue/_images/rodrigue_107707_51139911399.jpg);
}

#labs-grid>div:nth-child(6).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.7s;
}

#labs-grid>div:nth-child(6) .img-cont {
  background-image: url(http://1.bp.blogspot.com/-Lpz-0NBD0Vw/Ut2dK0jyXUI/AAAAAAAADaQ/qyVXfKA4f4I/s1600/14016+-+S+-+Sea+Dean+-+Pink+Doggie+Homage+to+Jeff+Koons+-+Acrylic+-+4+x+4+-+$65.jpg);
}

#labs-grid>div:nth-child(7).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.8s;
}

#labs-grid>div:nth-child(7) .img-cont {
  background-image: url(http://www.horseandman.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-27-at-6.28.42-PM.png);
}

#labs-grid>div:nth-child(8).fade-up {
  transition      : 0.4s all ease;
  transition-delay: 0.9s;
}

#labs-grid>div:nth-child(8) .img-cont {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/colorful-dog-paw-print-by-sharon-cummings-sharon-cummings.jpg);
}

a {
  color          : #0b67fb;
  text-decoration: none;
}

.code {
  font-family: monospace;
  color      : #0b67fb;
  font-size  : 1.15rem;
}

input[type="text"],
textarea {
  background-color: rgba(37, 29, 47, 0.7);
  border          : 1px solid rgba(255, 255, 255, 0.3);
  outline         : 0px solid transparent;
  transition      : 0.2s;
  color           : white;
  padding-left    : 10px;
  padding-right   : 10px;
}

input[type="text"] {
  height: 3em;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #0b67fb;
}

textarea {
  width     : 100%;
  max-width : 100%;
  min-width : 100%;
  min-height: 100px;
}

.gridi {
  display       : grid;
  grid-gap      : 1rem;
  grid-auto-rows: 4em;
  overflow      : auto;
  padding-bottom: 2rem;
}

.gridi-2col {
  grid-template-columns: repeat(2, 1fr);
}

.gridl {
  display       : grid;
  grid-gap      : 2rem;
  grid-auto-rows: 500px;
  overflow      : auto;
  padding-bottom: 2rem;
}
.gridl-3col {
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display       : grid;
  grid-gap      : 2rem;
  grid-auto-rows: minmax(100%, auto);
  overflow      : auto;
  padding-bottom: 2rem;
}

.grid-2col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
  grid-template-columns: repeat(3, 1fr);
}

.title {
  display       : inline-block;
  clear         : both;
  padding-bottom: 4px;
  position      : relative;
  margin-bottom : 2.5rem;
  border-bottom : 2px solid #0b67fb;
}

.font-exsmall {
  font-size     : 0.95rem;
  letter-spacing: 0.3px;
}

.font-small {
  font-size     : 1.15rem;
  letter-spacing: 0.3px;
  line-height   : 1.75rem;
}

.font-med {
  font-size     : 1.4rem;
  letter-spacing: 1px;
  font-weight   : 300;
}

.font-lg {
  font-size     : 2rem;
  letter-spacing: 1.5px;
  font-weight   : 300;
}

.font-exlg {
  font-size     : 3.5rem;
  letter-spacing: 1.5px;
  line-height   : 3rem;
}

.font-demi-opacity {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 0;
}

button, .button {
  background-color: #0b67fb;
  border: 0;
  padding: 0.6rem 2rem;
  color: white;
}
